@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuizzWeb</h1>
    <br />  
    <h1 class="display-10">The Raven - Edgar Alan Poe</h1>
    @model TextFile
    <style>
        p {
            white-space: pre-line;
        }
    </style>
    <p id="textBoxView">@Model.content</p>
</div>
